{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student page</title>
</head>
<body>
<div class="padding-top-15 padding-left-15">
    {% if students %}
        <div class="container">
            <div class="block">
                <table class="custom-header padding-15">
                    <tr>
                        <th>
                            <a href="/student/{{ students.id }}/data"> Student data </a>
                        </th>
                        <th>
                            <a href="/student/{{ students.id }}/achievements"> Check achievements </a>
                        </th>
                        <th>
                            <a href="/student/{{ students.id }}/previous_exam"> Display previous exams </a>
                        </th>
                        <th>
                            <a href="/student/{{ students.id }}/choosing_exam_to_take"> Attempt an exam </a>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="block align-right">
                <p class="padding-right-15">
                    <a href="/student/" class="custom-header link-btn">Log out</a>
                </p>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="padding-bottom-15">
            <p class="custom-header">{{ students.name }}</p>
        </div>
        <div>
            {% block student_courses %} {% endblock student_courses %}
        </div>
    {% else %}
        <p> Error no student ??(error in file (student_page) </p>
    {% endif %}
</div>
</body>
</html>