{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<div class="padding-left-15 padding-top-15">
    <h1 class="custom-header padding-bottom-15">Who are you</h1>
    {% for stu in students %}
        <div class="list-element align">
            <a href="/student/{{ stu.id }}/data"> {{ stu.name }} </a>
        </div>
    {% endfor %}
</div>
</body>
</html>