<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student page</title>
</head>
<body>
    {% if students %}
        <div>
            <h1>{{students.name}} <a href = "/student/"> {{stu.name}} Log out</a></h1>
        </div>
        <div style="clear:both"> </div>
        <div style = "width:200px; float:left">
            <p><a href = "/student/{{students.id}}/data"> Student data </a></p>
            <p><a href = "/student/{{students.id}}/achievements"> Check achievements </a></p>
            <p><a href = "/student/{{students.id}}/previous_exam"> Display previous exams </a></p>
            <p><a href = "/student/{{students.id}}/choosing_exam_to_take"> Attempt an exam </a></p>
        </div>


        <div style="cleat:both"></div>
        <div>
            {% block student_courses %} {% endblock student_courses %}
        </div>
    {% else %}
        <p> Error no student ??(error in file (student_page) </p>
    {% endif %}
</body>
</html>