<p>This should show exams chosen exam</p>

{{exam.id}}

{{students.id}}

{% block question %} {% endblock question %}



{% if exam %}
    {% for question in open_question%}
        {% if question.exam_id == exam.id %}
            <p>{{question.text}}</p>
            <p> miejsce na odpowiedz</p>
            <p><br/></p>
        {%endif%}
    {%endfor%}
    {% for question in closed_question%}
        {% if question.exam_id == exam.id %}
            <p>{{question.text}}</p>
            {% for answer in answer_to_closed_question%}
                {% if answer.closed_question_id == question.id%}
                    <p>{{answer.text}}</p>
                {%endif%}
            {%endfor%}

            <p><br/></p>
        {%endif%}
    {%endfor%}


{%endif%}


