{% extends 'student_page.html' %}

{% block student_courses %}
    <div class="padding-left-15">
        <p class="custom-text padding-bottom-15">Index number: {{ students.index_number }}</p>
        <p class="custom-text padding-bottom-15">Email address: {{ students.email_address }}</p>
        {% for  sch in school %}
            {% if sch.id == students.school_id %}
                <p class="custom-text">School: {{ sch.name }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% if exam_finished %}
        <div class="wrapper" id="footer">
            Answers submitted!
        </div>
    {% endif %}
{% endblock %}