{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add exam</title>
</head>
<body>
<button><a href="{{ course_id }}/add_open_question">Add open question</a></button>
<button><a href="{{ course_id }}/answers_to_closed_question">Add closed question</a></button>
<br>
<br>
Open questions:
<ul>
    {% for question in questions.open %}
        <li>{{ question }}</li>
    {% endfor %}
    {% for question in questions.closed %}
        <li>{{ question }}</li>
    {% endfor %}
</ul>
<form class="" action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    Duration: <input type="text" name="duration" value="30" /> <br>
    <input type="Submit" name="submit_exam" value="Submit"/>
</form>
</body>
</html>