<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
<h1>Hello, {{ teacher.name }}</h1>
<h3>Your current courses:</h3>
{% for course, exams in courses.items %}
    <a href="teacher_edit_course/{{ course.id }}">{{ course.name }}</a>
    <button><a href="{{ teacher.id }}/add_exam/{{ course.id }}">Add new exam</a></button> <br>
    Existing exams:
    <ul>
        {% for exam in exams %}
            <li><a href="exam_details/{{ exam.id }}">{{ exam.id }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>
